/* 
  - Use Shades: Same Colors with different brightness
  
  - Use HSL
    - start nuetral
    - change l to create shades
    - try to keep s the same for all colors
    - keep h the same

    --- dark mode
    - bg color 0% l
    - next layer up 5%
    - next layer 10%

    - text 
    95% - 90% text
    70% text-muted

    --- light mode
      bg l 90%
      bg 95%
      bg 100%

    - text
      5% text
      30% text-muted
*/

:root{
  --bg-dark: hsl(0, 0%, 2%);
  --bg: hsl(0, 0%, 5%);
  --bg-light: hsl(0, 0%, 10%);

  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 80%);

  --border: hsl(0, 0% 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(0, 0%, 30%);
  --border-card: solid 1px var(--border);
  --shadow: 0px 2px 2px hsla(0, 0%, 5%, 0.5), 0px 4px 4px hsla(0, 0%, 10%, 0.15); 

  --success: hsl(120 20% 30%);
  --caution: hsl(55 40% 40%);
  --danger: hsl(0 30% 30%);
  --info: hsl(240, 50%, 27%);


}

body.light{
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);

  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 20%);

  --border: hsl(0 0% 30%);

  --border: hsl(0, 0% 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(0, 0%, 100%);
  --border-card: solid 1px var(--bg);
   --shadow: 0px 2px 2px hsla(0, 0%, 10%, 0.5), 0px 4px 4px hsla(0, 0%, 20%, 0.10); 
   --success: hsl(120 20% 65%);
  --caution: hsl(55 40% 65%);
  --danger: hsl(0 30% 65%);
  --info: hsl(240, 60%, 70%);
}

.success{
  color: var(--text);
  background: var(--success);
}
.caution{
  color: var(--text);
  background: var(--caution);
}
.danger{
  color: var(--text);
  background: var(--danger);
}
.info{
  color: var(--text);
  background: var(--info);
}

body{
  background: var(--bg-dark);
  color: var(--text-muted);
}


button{
  background: var(--bg-light);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--text);
  font-weight: 700;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  border: none; 
  box-shadow: var(--shadow);
}

.accent-border{
  border: solid 2px var(--accent);
}

input[type="range"]{
  accent-color: var(--accent);
}

button:hover{
  background: var(--gradient-hover);
  cursor: pointer;
}

.card {
  background: var(--bg);
  background: var(--gradient);
  padding: 1.5rem;
  border-radius: 1rem;
  border: var(--border-card);
  border-top: solid 1px var(--highlight);
}

.card-info{
  width: 50%;
}
.card-colors{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-colors>*{
  height: 3rem;
  width: 40%;
  margin: .5rem;
  border-radius: 5px;
  padding: .5rem;
  font-size: large;

}
.flex{
  display: flex;
}

h1{
  color: var(--text);
}

section{
  width: 50%;
  margin: 5rem auto;
}

#saturation-label,#hue-label{
  display: block;
  min-width: 140px;
  width: 140px;
}